body {
    color: #1c1569;
    background-color: #9b93ea;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1c1569;
}

.text-center{
    text-align: center;
}

.container-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-spacing: 0;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 3px solid white;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  a {
    color:crimson;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: #1c1569;
    text-decoration: none;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
  .light-mode{
    color: #1c1569;
    background-color: #9b93ea;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}